<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= config.name %></title>
    <script type="text/javascript" src="js/client.js"></script>
    <!-- plug-ins -->
    <script type='text/javascript' src='js/libs/jquery-ui.min.js'></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>