<div id="side">
	<header>
		<h1><%= config.name %></h1>
	</header>
	<div id="user">
		<input type="text" class="name" placeholder="ユーザ名">
	</div>
	<nav>
		<ul>
			<% for(var i=0; i<config.menu.length; ++i){ %>
			<li><a href="/<%= config.menu[i].url %>" class="<%= config.menu[i].url %>"><%= config.menu[i].name %></a></li>
			<% } %>
		</ul>
	</nav>
</div>