<style>
	@import "/controllers/calendar/calendar.css";
    @import "/controllers/calendar/libs/fullcalendar.css";
</style>
<script src='/controllers/calendar/libs/fullcalendar.js'></script>

<div id='calendar'></div>
<div id="contextMenu"></div>