<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style type="text/css">
        /* client style */
        @import url("css/libs/reset.css");
        @import url("css/style.css");
        @import url("css/button.css");
        @import url("css/context.css");
        @import url("css/notify.css");
        /* plug-in style */
        @import url("css/libs/jquery.fancybox.css");
        @import url("css/libs/fullcalendar.css");
    </style>
    <link href='css/white.css' rel='stylesheet' type='text/css' />
    <!-- jquery -->
    <script type="text/javascript" src="js/libs/jquery.min.js"></script>
    <!-- plug-ins -->
    <script type="text/javascript" src="js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/libs/jquery.bottom-1.0.js"></script>
    <script type="text/javascript" src="js/libs/jquery.fancybox.pack.js"></script>
    <script type='text/javascript' src='js/libs/jquery-ui.min.js'></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
    <!-- client(do not change this order) -->
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/notify.js"></script>
    <script type="text/javascript" src="js/client.js"></script>
    <script type="text/javascript" src="js/style.js"></script>
</head>
<body>