<div id="side">
	<header>
		<h1><%= title %></h1>
	</header>
	<div id="user">
		<input type="text" class="name">
	</div>
	<nav>
		<ul>
			<li><a href="/timeline" class="timeline">タイムライン</a></li>
			<li><a href="/calendar" class="calendar">カレンダー</a></li>
			<li><a href="/note" class="note">ノート</a></li>
		</ul>
	</nav>
</div>