<style>
  @import "/controllers/timeline/style.css";
  @import "/controllers/timeline/libs/jquery.fancybox.css";
</style>
<link rel="stylesheet" type="text/css" href="/controllers/timeline/white.css">
<script src="/controllers/timeline/libs/jquery.bottom-1.0.js"></script>
<script src="/controllers/timeline/libs/jquery.fancybox.pack.js"></script>

<header>
<div id="input">
   <textarea id="text" placeholder="Write a message"></textarea>
   <button class="button" id="write">Post</button>
   <ul id="files"></ul>
</div>
</header>
<div id="colorSelector">
    <ul>
        <li class="colorWhite" style-src="/controllers/timeline/white.css"></li>
        <li class="colorBlack" style-src="/controllers/timeline/black.css"></li>
        <li class="colorHacker" style-src="/controllers/timeline/hacker.css" title="SUPER HACKER THEME"></li>
    </ul>
</div>
<div id="posts">
</div>
<div id="goTop">
    <a href="#content">&lt;</a>
</div>