<style>
  @import "/controllers/timeline/libs/jquery.fancybox.css";
</style>
<script src="/controllers/timeline/libs/jquery.bottom-1.0.js"></script>
<script src="/controllers/timeline/libs/jquery.fancybox.pack.js"></script>

<div id="uploads">
<ul>
  <% for(var i=0; i<items.length; ++i){ %>
  <li><a href="/upload/<%= items[i] %>"><%= items[i] %></a></li>
  <% } %>
</ul>
</div>