<div id="side">
    <header>
        <h1><%= title %></h1>
    </header>
    <div id="user"></div>
	<nav>
		<ul>
			<li><a href="/timeline" class="timeline">タイムライン</a></li>
			<li><a href="/calendar" class="calendar">カレンダー</a></li>
		</ul>
	</nav>
</div>