<script type="text/javascript" src="/js/timeline.js"></script>
<header>
<div id="input">
   <input type="text" id="name">
   <textarea id="text"></textarea>
   <button class="button" id="write">書き込む</button>
   <ul id="files"></ul>
</div>
</header>
<div id="colorSelector">
    <ul>
        <li class="colorWhite" style-src="css/white.css"></li>
        <li class="colorBlack" style-src="css/black.css"></li>
        <li class="colorHacker" style-src="css/hacker.css" title="SUPER HACKER THEME"></li>
    </ul>
</div>
<div id="posts">
</div>
<div id="goTop">
    <a href="#content">&lt;</a>
</div>