/*==================================================================
 *
 *  hacker.css
 *  style.cssより後に読み込むこと
 *  
 *==================================================================*/

/*------------------------------------------------------------------
 *  1. 全体設定
 *------------------------------------------------------------------*/

body {
    background-color: #000;
    color: lime;
}

 /*------------------------------------------------------------------
  *  2. 入力フォーム
  *------------------------------------------------------------------*/

/* 入力フォームコンテナ */
#input{
    border-radius: 0px;
    background: black;
    border: 1px solid lime;
}

/* テキストボックス */
#text{
    border-radius: 0px;
    border: 1px solid lime;
    background: #000;
    color: lime;
}

#text.attached{

}

/* 名前欄 */
#name{
    border-radius: 0px;
    border: 1px solid lime;
    background: #000;
    color: lime;
}

/* 書き込むボタン */
#write{
    border-radius: 0px;
    border: 1px solid lime;
    background: lime;
    color: #000;
}

#write.disable{
    background: #000;
    color: #fff;
}

 /*------------------------------------------------------------------
  *  3. 発言フィード
  *------------------------------------------------------------------*/

article {
    border-radius: 0px;
    background: transparent;
    padding-bottom: 10px;
    border-bottom:1px solid lime;
}

article header{

}

article header time{
    color: #666;
}

article p{

}

article .file a img{
}

article .file a.otherfile{
    color: blue;
    background: white;
    border-color: gray;
}

article .file a.otherfile:hover{
    border-color: blue;
}

 /*------------------------------------------------------------------
  *  4. 基本要素
  *------------------------------------------------------------------*/

 /*------------------------------------------------------------------
  *  5. その他
  *------------------------------------------------------------------*/

#openButton{
    background-image: url(../img/open_hacker.gif);    
}

#openButton.close {
    background-image: url(../img/close_hacker.gif);    
}
