/*==================================================================
 *
 *  style.css
 *  
 *==================================================================*/

/*------------------------------------------------------------------
 *  1. 全体設定
 *------------------------------------------------------------------*/

 body{
    font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',arial,helvetica,'ＭＳ Ｐゴシック',sans-serif;
    line-height: 1.4;
    font-size: 15px;
    background: #f4f4f4;
 }

 #content {
    box-sizing: border-box;
    width: 100%;
    padding-left: 170px;
 }

 #colorSelector {
    z-index: 10;
    position: fixed;
    padding: 5px;
    bottom: 0;
 }

 #colorSelector li {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px;
    border: 1px solid #666;
    opacity: 0.5;
 }

 #colorSelector li:hover {
    opacity: 0.8;
}

 li.colorWhite {
    background-color: #fff;
 }

 li.colorBlack {
    background-color: #000;
 }

 li.colorHacker {
    background-color: green;
 }

#goTop {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#goTop a {
    font-size: 34px;
    padding: 5px 17px;
    vertical-align: middle;
    -webkit-transform: rotate(90deg);
    font-family: Arial;
    background: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#goTop a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
}


 /*------------------------------------------------------------------
  *  2. 入力フォーム
  *------------------------------------------------------------------*/

/* テキストボックス */
#text{
    overflow: hidden;
    margin: 10px;
    height: 16px;
    border-radius: 3px;
    float: left;
    display: block;
    border: 1px solid gray;
    width: 390px;
    padding: 5px;
    font-size: 15px;
}

#text.attached{
    background: lightgreen;
}

#files{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    clear: both;
    padding: 0.5em 1em;
    border-radius: 0 0 5px 5px;
    background: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    font-size: smaller;
    list-style-type: none;
    display: none;
    text-align: left;
}

#files li {
    margin-bottom: 0.4em;
    display: block;
}

/* 名前欄 */
#name:before{
    content:"お名前";
}

#name{
    float: left;
    margin: 10px;
    border: 1px solid gray;
    display: block;
    border-radius: 3px;    
    height: 26px;
    width: 130px;
    padding: 0px 5px;
}

/* 書き込むボタン */
#write{
    float: left;
    margin: 10px;
    display: block;
    font-size: 12px;
    cursor: pointer;
}

#write.disable{
    border: 1px solid gray;
    text-shadow: none;
    background: rgb(170, 170, 170);
    cursor: default;
}

#openButton {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px; 
    background-repeat: no-repeat;
    background-image: url(../img/open.gif);   
    cursor: pointer;
}

#openButton.close{
    background-image: url(../img/close.gif);   
}
 /*------------------------------------------------------------------
  *  3. 発言フィード
  *------------------------------------------------------------------*/

article {
    overflow: hidden;
    box-sizing: border-box;
    margin: 5px auto;
    background: #EEE;
    font-size: 15px;
    line-height: 1.4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 86%;
}

article header{
    padding: 0.5em 1em;

}

article header time{
    font-family: Verdana;
    font-size: 11px;
    padding-left: 10px;
    float: right;
}

article a[rel="author"]{
    font-weight: bold;
}

article p{
    padding: 0 1em 0.5em 1em;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

article .file a img{
    max-width: 100px;
}

article .file a.otherfile{
    font-size: 12px;
    text-decoration: none;
    color: rgb(148, 148, 148);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(207, 198, 198);
    padding: 2px 5px;
    display: inline-block;
    margin: 5px;
}

article .file a.otherfile:hover{
    color: white;
    background: rgb(0, 211, 211);
}

 /*------------------------------------------------------------------
  *  4. 基本要素
  *------------------------------------------------------------------*/

 /*------------------------------------------------------------------
  *  5. その他
  *------------------------------------------------------------------*/

  .invisible {
    display: none;
  }

 /*------------------------------------------------------------------
  *  6. ヘッダとメニュー
  *------------------------------------------------------------------*/
#side > header {
    padding: 1em;
    color: white;
    background: #4b4f55;
}
#side {
    box-shadow: -1px 0px 0px rgb(204, 194, 194) inset;
    z-index: 10;
    position: fixed;
    top: 0;
    height: 100%;
    width: 170px;
    background: white;
}
body {
}
#side nav ul li a {
    display: block;
    border-bottom: 1px solid #f0f0f0;
    padding: 14px;
    text-decoration: none;
    color: #8b8e93;
}
h1 {
    font-weight: normal;
}
#side nav ul li a{
    position: relative; 
}

#side nav ul li a.active{
    background: #6e757f;
    color: white;
}

#side nav ul li a.active:after{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 18px;
    right: -14px;
    border: 7px solid transparent;
    border-left: 7px solid #6e757f;
}
#side nav ul li a.active:hover {
    color: gray;
}
#side nav ul li a.active:hover:after {
    border-left-color: rgb(219, 222, 228);
}
#side nav ul li a:hover {
    background: rgb(219, 222, 228);
}

.file {
    padding: 0.5em 1em;
    border-top: 1px solid rgb(226, 226, 226);
    background: rgb(243, 243, 243);
}

.video {
    margin-bottom: 1em;
    background: black;
}
.video iframe {
    display: block;
    margin: 0 auto;
}

.fc-border-separate {
    background: white;
}
.fc-sun {
    color: rgb(252, 25, 71);
}
.fc-sat {
    color: rgb(35, 137, 248);
}
#calendar {
    margin: 1em;
    margin-top: 70px;
}
.fc-content thead {
    color: rgb(131, 131, 131);
    background: rgb(245, 245, 245);
}
.fc-widget-header {
    font-weight: normal;
}
.fc-widget-content:hover {
    background: rgba(219, 222, 228, 0.2);
}
#content>header {
    display: block;
    padding-left: 170px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(30, 39, 46, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#posts {
    margin-top: 70px;
}
.button {
    color: #ffffff;
    padding: 4px 10px;
    background: -moz-linear-gradient(
        top,
        #42aaff 0%,
        #2766c4);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#42aaff),
        to(#2766c4));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #347fc9;
    -moz-box-shadow:
        0px 0px 2px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 0px 2px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    box-shadow:
        0px 0px 2px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.7),
        0px 1px 0px rgba(255,255,255,0.3);
}
#user {
    border-bottom: 1px solid rgb(202, 202, 202);
    background: rgb(221, 221, 221);
    height: 60px;
}

#files li:before {
    content: "添付: ";
}

#contextMenu {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.19);
    position: absolute;
    z-index: 10;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
}
#contextMenu header{
    background: rgb(231, 231, 231);
}
#contextMenu h3 {
    padding: 0.3em 1em;
}
#contextMenu footer {
    margin-top: 1em;
    padding: 0.3em 1em;
    border-top: 1px solid rgb(230, 230, 230);
}
#contextMenu .cancel {
color: white;
font-size: 13px;
display: inline-block;
padding: 1px 6px;
cursor: pointer;
background: gray;
border-radius: 9px;
}
#contextMenu .ok {
color: white;
font-size: 13px;
display: inline-block;
padding: 5px 9px;
cursor: pointer;
background: rgb(0, 108, 192);
border-radius: 15px;
}
#contextMenu .inputs{
    list-style-type: none;
}
#contextMenu .inputs li {
    font-size: 12px;
    clear: both;
    display: block;
    padding: 0.4em 1em;
}
#contextMenu .inputs li input[type="text"] {
    margin-left: 1em;
    padding: 0.3em;
}
#contextMenu .delete {
    display: inline-block;
    color: rgb(255, 255, 255);
    background: red;
    border-radius: 5px;
    padding: 0.3em 0.7em;
    cursor: pointer;
}
.fc-event-time {
    font-family: Verdana;
    font-size: 11px;
}
.fc-day-number {
    font-family: Verdana;
    font-size: 14px;
}
.fc-header {
    height: 51px;
    display: block;     
    padding-left: 170px;     box-sizing: border-box;     text-align: center;     background: rgba(30, 39, 46, 0.97);     position: fixed;     top: 0;     left: 0;     width: 100%;
    z-index: 9;
    color: white;
}
.fc-header tbody {
    padding: 9px;
    width: 520px;
    margin: 0 auto;
    display: block;
}
.fc-header-title {
    padding: 3px;
    font-size: 18px;
}
#user .name {
    border-radius: 3px;
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
    margin: 1em;
}