/*==================================================================
 *
 *  white.css
 *  style.cssより後に読み込むこと
 *  
 *==================================================================*/

/*------------------------------------------------------------------
 *  1. 全体設定
 *------------------------------------------------------------------*/

body {
}

 /*------------------------------------------------------------------
  *  2. 入力フォーム
  *------------------------------------------------------------------*/

/* 入力フォームコンテナ */
#input{
    position: relative;
    width: 690px;
    height: 51px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* テキストボックス */
#text{

}

#text.attached{

}

/* 名前欄 */
#name{

}

/* 書き込むボタン */
#write{
}

#write.disable{
}

 /*------------------------------------------------------------------
  *  3. 発言フィード
  *------------------------------------------------------------------*/

article {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.11);
    background: rgb(255, 255, 255);
}

article header{

}

article header time{
    color: rgb(177, 177, 177);
}

article p{

}

article .file a img{
}

article .file a.otherfile{
}

article .file a.otherfile:hover{
}

 /*------------------------------------------------------------------
  *  4. 基本要素
  *------------------------------------------------------------------*/

 /*------------------------------------------------------------------
  *  5. その他
  *------------------------------------------------------------------*/
