/*==================================================================
 *
 *  style.css
 *  
 *==================================================================*/

/*------------------------------------------------------------------
 *  1. 全体設定
 *------------------------------------------------------------------*/

 #content {
    width: 420px;
    margin: 0px auto;
 }

 /*------------------------------------------------------------------
  *  2. 入力フォーム
  *------------------------------------------------------------------*/

/* 入力フォームコンテナ */
#input{
    width: 400px;
    height: 170px;
    margin: 10px;
    padding: 10px;
    background: #484f58;
    float: right;
}

/* テキストボックス */
#text{
    clear: both;
    height: 120px;
    border-radius: 4px;
    display: block;
    border: none;
    width: 390px;
    position: relative;
    top: 10px;
    padding: 5px;
    font-size: 15px;
}

/* 名前欄 */
#name:before{
    content:"お名前";
}

#name{
    border: none;
    border-radius: 4px;
    height: 26px;
    width: 200px;
    float: left;
    padding: 0px 5px;
}

/* 書き込むボタン */
#write{
    text-align: center;
    width: 70px;
    display: block;
    line-height: 26px;
    border-radius: 4px;
    height: 26px;
    background: white;
    font-size: 12px;
    cursor: pointer;
    float: right;
}

#write.disable{
    background: gray;
    color: white;
    cursor: default;
}

 /*------------------------------------------------------------------
  *  3. 発言フィード
  *------------------------------------------------------------------*/

article {
    margin: 5px;
    padding: 5px;
    background: #EEE;
    font-size: 15px;
    line-height: 1.4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 400px;
}

article header{

}

article header time{
    color: #666;
    font-size: 12px;
    padding-left: 10px;
}

article a[rel="author"]{
    font-weight: bold;
}

article p{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

 /*------------------------------------------------------------------
  *  4. 基本要素
  *------------------------------------------------------------------*/

 /*------------------------------------------------------------------
  *  5. その他
  *------------------------------------------------------------------*/

  .invisible {
    display: none;
  }
