/*==================================================================
 *
 *  white.css
 *  style.cssより後に読み込むこと
 *  
 *==================================================================*/

/*------------------------------------------------------------------
 *  1. 全体設定
 *------------------------------------------------------------------*/

body {
    background-color: #fff;
}

 /*------------------------------------------------------------------
  *  2. 入力フォーム
  *------------------------------------------------------------------*/

/* 入力フォームコンテナ */
#input{
    background: #333;
}

/* テキストボックス */
#text{

}

#text.attached{

}

/* 名前欄 */
#name{

}

/* 書き込むボタン */
#write{
    background: white;
}

#write.disable{
    background: gray;
    color: white;
}

 /*------------------------------------------------------------------
  *  3. 発言フィード
  *------------------------------------------------------------------*/

article {
    background: #EEE;
}

article header{

}

article header time{
    color: #666;
}

article p{

}

article .file a img{
}

article .file a.otherfile{
    color: blue;
    background: white;
    border-color: gray;
}

article .file a.otherfile:hover{
    border-color: blue;
}

 /*------------------------------------------------------------------
  *  4. 基本要素
  *------------------------------------------------------------------*/

 /*------------------------------------------------------------------
  *  5. その他
  *------------------------------------------------------------------*/
