<style>
	@import "/plugins/calendar/calendar.css";
    @import "/plugins/calendar/libs/fullcalendar.css";
</style>
<script src='/plugins/calendar/libs/fullcalendar.js'></script>
<script src="/plugins/calendar/client.js"></script>

<div id='calendar'></div>
<div id="contextMenu"></div>